**.pyc
history.txt

system-design-questions
**.DS_Store
connection-pool-old
golang_tutorial
# rdb-based-kv-store
# mysql-local-read-replica
load-balancer/loadtest_results.json
mysql-read-replica/primary-data
mysql-read-replica/replica-data
distributed-id-generator/id.txt
**/__pycache__/
**/.venv/
**/.ropeproject
url-shortner
