**.pyc
history.txt

system-design-questions
**.DS_Store
connection-pool-old
golang_tutorial
# rdb-based-kv-store
# mysql-local-read-replica
load-balancer/loadtest_results.json
mysql-local-read-replica/primary-data
mysql-local-read-replica/replica-data
distributed-id-generator/id.txt